{% extends 'common/base_account.html' %}
{% load static %}

{% block header %}
    <title>登录</title>

{% endblock %}

{% block content %}
    <div class="" id="page">

        <h1 class="form-signin-heading text-center">登 录</h1>
    <br>

        <div class="card card-signin">
            <img class="img-circle profile-img center-block" src="{% static 'blog/img/avatar.png' %}" alt="">
        <br>
            <form class="form-signin center-block" action="{% url 'account:login' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    <br>
                    {{ field.errors }}
                {% endfor %}

            <br>
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <button class="btn btn-lg btn-primary btn-block center-block" type="submit">登录</button>

            <br>
                <div class="checkbox text-center">
                    <label>
                        <input type="checkbox" value="remember-me" name="remember">保持登录
                    </label>
                </div>
            {% comment %}
                {% load oauth_tags %}
                {% load_oauth_applications request%}
               {% endcomment %}
            </form>
        </div>
        <br>
        <p class="text-center" id="turn-to-other-pages">
            <a href="{% url "account:register" %}">创建账户</a>
            |
            <a href="/">回到首页</a>
            |
            <a href="">忘记密码</a>
        </p>

    </div> <!-- /container -->
{% endblock %}