{% extends 'common/base.html' %}


{% block header %}
<title> 领航 · 蒲公英</title>
{% endblock %}

{% block content %}
     <!--宣传⽚-->
    <div id="trailer" class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <div class="text-center" id="trailer-text">
                <blockquote>
                    <h1>不负每一份坚守，不负每一分信任，不负时代，不负韶华。</h1>
                    <br>
                    <span style="font-size: 16px;" class="btn">观看宣传片
                         &nbsp;|&nbsp;
                    <span id="play-icon" class="glyphicon glyphicon-play-circle "
                          style="font-size: 20px;transform: translateY(10%);">
                    </span>
                    </span>

                </blockquote>

            </div>
        </div>
    </div>

    <!--李莎精神-->
    <div id="Li-Sha-spirit" class="container">
        <div class="row left justify-content-center align-items-center" id="lss-1">
            <div class="col-lg-6 col-md-6 " style="padding-top: 1%;">
                <div class="img-responsive">
                    <div class="img-thumbnail">
                        <img src="{% static 'portal/img/first/lisha.jpg' %}" class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="" id="about-ls">
                    <h2 style="color: #B5AC49;line-height: 1.5"><p>“</p>梦想有很多，我最大的梦想就是以后好好回报社会，不负自己所学。<p>”</p></h2>
                    <p>2020年5月10号，年仅二十二岁的李莎在支教途中发生意外不幸罹难，长眠于广西龙胜的大山深处，但她的精神从未消逝。</p>
                    <p><a class="btn btn-danger " href="/about/founders-words/" id="know-more">进一步了解</a></p>
                </div>
            </div>
        </div>

        <div class="row" id="lss-2">
            <h2 class="text-left" style="color: #348F50;font-size:36px;font-weight: bolder;padding-left: 5%;">“ / 李 / 莎 / 精 / 神  / ”</h2><br>
            <div class="col-lg-4 item">
                <i class="icon icon-bullseye"></i>
                <div class="item-text row">

                    <div class="col-md-2" style="padding-left: 10%;padding-top: 5%;">
                        <span class="fa fa-heart" style="font-size: 24px;color: #B5AC49;"></span>
                    </div>
                    <div class="col-md-10" style="padding-left: 10%;">
                        <h4 class="item-title">心有所属</h4>
                        <p>一年支教行，一生支教情</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 item">
                <i class="icon icon-circles"></i>
                <div class="item-text row">
                    <div class="col-md-2" style="padding-top: 5%;padding-left: 10%;">
                        <span class="fa fa-thumbs-up " style="font-size: 24px;color: #B5AC49;"></span>
                    </div>
                    <div class="col-md-10" style="padding-left: 10%;">
                        <h4 class="item-title">和衷共济</h4>
                        <p>凝聚多主体力量共同守护</p></div>
                </div>
            </div>
            <div class="col-lg-4 item">
                <i class="icon icon-flags"></i>
                <div class="item-text row">
                    <div class="col-md-2" style="padding-top: 5%;">
                        <span class="fa fa-fire" style="font-size: 24px;color: #B5AC49;"></span>
                    </div>
                    <div class="col-md-10">
                        <h4 class="item-title">薪火相传</h4>
                        <p>青春接力，代代传承，我们一直在路上</p></div>
                </div>

            </div>
        </div>

    </div>
    <!--品牌愿景-->
    <div id="brand-vision" class="container">

    </div>

    <!--服务模式-->
    <div id="service" class="container">
        <div id="4-plus-1" class="container row right justify-content-center">
            <div class="col-lg-6 col-md-6 ">
                <div class="text-left" style="padding-top: 3%;line-height: 2;">
                    <h2 style="color: #B5AC49;font-weight: bolder;">领航“4+1”模式</h2>
                    <p>
                        十四年的实践孕育了“领航·蒲公英”团队独具特色的“领航4+1”模式，开创了国内高校支教公益的先河。模式以“李莎精神”为核心，以品牌化为核心路线，辅以数字化的多主体数据库技术，以全方位覆盖的支教志愿服务、内部可持续循环的运营模式为基础，以构建长期共同体为目标。</p>
                    <p>
                        <a class="btn btn-danger" id="know-more">了解更多</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 top-left">
                <img src="{% static 'portal/img/first/4+1.png' %}" style="width: 100%;" class="img-rounded">

            </div>

        </div>
    </div>


    <!--核⼼价值观-->
    <div id="sense-of-worth" class="container"></div>


    <!--活动回顾-->
    <div id="activity-review" class="container">
        <h2 class="text-center" style="color: #B5AC49;font-weight: bolder;">公益项目</h2><br>
        <div class="row" id="welfare-projects">
            <div class="col-md-3">
                <img src="{% static 'portal/img/first/盛勇&“宝杯计划”公益项目.jpg' %}">
                <p class="text-center"><a class="text-center btn">宝“杯”计划</a></p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'portal/img/first/韦艳莎&你的购物车·我的小心愿.jpg' %}">
                <p class="text-center"><a class="text-center btn">你的购物车，我的小心愿</a></p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'portal/img/first/科技创新课堂4.jpg' %}">
                <p class="text-center"><a class="text-center btn">科技创新课堂</a></p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'portal/img/first/2014.9.17%20研支团在龙胜小学开展索尼梦想教室项目.JPG' %}">
                <p class="text-center"><a class="text-center btn">索尼“梦想教室”项目</a></p>
            </div>


        </div>
        <br>
        <div class="text-center"> <span class="btn btn-primary" id="know-more">
                <span>更多活动</span>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </span></div>

    </div>
    <br>


    <!--最新动态-->
    <div id="news" class="row container">
    <h2 class="text-center" style="color: #B5AC49;font-weight: bolder;">最新动态</h2><br>
        <div class="col-md-6">
            <span id="news-img">
                <img src="{% static 'portal/img/first/2021-12%20你的购物车我的小心愿.jpg' %}" style="width: 100%;::after;">

            </span>
            <span id="news-info">
                <span class="content">
                    <p>
                    <time datetime="2021-12-14T00:00:00+00:00" style="color: gray;">14/12/2021</time>
                    </p>
                   <p style="font-size: 20px;color: #348F50;">
                       “你的购物车，我的小心愿” | 给小灯神们的一封信！
                   </p>
                    <span class="btn">
                        <a class="" style="color: #B5AC49; font-size: 16px;">
                            了解更多
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </span>
                </span>
            </span>
        </div>

        <div class="col-md-6">
            <span id="news-img">
                <img src="{% static 'portal/img/first/2022-1-5“欢度元旦，心守儿童”志愿服务活动.jpg' %}" style="width: 100%;">

            </span>
            <span id="news-info">
                <span class="content">
                    <p>
                    <time datetime="2022-05-01T00:00:00+00:00" style="color: gray;">5/1/2022</time>
                    </p>
                   <p style="font-size: 20px;color: #348F50;">
                       青春强国 志愿有我 | “欢度元旦，心守儿童”志愿服务活动
                   </p>
                    <p>
                        <span class="btn">
                        <a class="" style="color: #B5AC49;font-size: 16px;">
                            了解更多
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </span>
                    </p>
                </span>
            </span>
        </div>
    </div>
{% endblock %}