



<!doctype html>
<html lang="zh-CN">
<head>

</head>
<body>



<!--我们的荣誉-->
<div id="our-glory">
   <div class="jumbotron">
       <h1 class="text-center">我们的荣誉</h1>
       <p>...</p>
</div>
</div>
<!--宣传⽚-->
<div id="trailer">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="../assets/slide_2.jpg"></iframe>
</div>
</div>
<!--李莎精神-->
<div id="Li-Sha-spirit">


</div>
<!--品牌愿景-->
<div id="brand-vision"></div>
<!--核⼼价值观-->
<div id="sense-of-worth"></div>
<!--活动回顾-->
<div id="activity-review">
    <div id="xin-nian" class="row left justify-content-center">
        <div class="col-lg-6 col-md-8 top-right">
            <img src="../assets/slide_1.jpg">

        </div>
        <div class="col-lg-6 col-md-6 ">
            <div class="text-left">
                <h2>迎新年</h2>
                <p>龙胜迎新年</p>
                <p>
                    <a class="btn btn-block" href>了解更多</a>
                </p>
            </div>
        </div>

    </div>
</div>
<!--新闻资讯-->
<div id="news"></div>
<!--知识库-->
<div id="knowledge-base"></div>





</body>
</html>