<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>小小蒲公英</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="../assets/style.css" rel="stylesheet">
    <link href="base.html">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--导航条-->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">蒲公英</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        我们的故事
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">团队介绍</a></li>
                        <li><a href="#">创始⼈寄语</a></li>
                        <li><a href="#">我们的荣誉</a></li>
                        <li><a href="#">宣传⽚</a></li>
                        <li><a href="#">logo含义</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        李莎精神
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">标杆人物</a></li>
                        <li><a href="#">品牌历程</a></li>
                        <li><a href="#">李莎精神</a></li>
                        <li><a href="#">品牌愿景</a></li>
                        <li><a href="#">核心价值观</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        品牌服务
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">服务模式</a></li>
                        <li><a href="#">公益支教</a></li>
                        <li><a href="#">公益评估</a></li>
                        <li><a href="#">活动回顾</a></li>
                    </ul>
                </div>
            </li>

            <li><a href="">新闻资讯</a></li>
            <li><a href="">知识库</a></li>
        </ul>
    </div>
</nav>
<!--轮播图-->
<div class="slide">
    <div>
        <h1>轮播图1</h1>
        ![](../assets/slide_1.jpg)
    </div>
    <button type="button" class="btn btn-primary">but</button>
    <div>
        <h1>轮播图2</h1>![](../assets/slide_2.jpg)
    </div>
    <div>
        <h1>轮播图3</h1>![](../assets/slide_3.jpg)
    </div>
</div>
<!--详细介绍-->
<div class="details">
    <div>
        <h2>截图1</h2>![](../assets/screenshot_1.jpg)
    </div>
    <div>
        <h2>截图2</h2>![](../assets/screenshot_2.jpg)
    </div>
    <div>
        <h2>截图3</h2>![](../assets/screenshot_3.jpg)
    </div>
</div>
<!--底部-->
<div class="footer">
    版权所有 2016
    <a href="">四光年科技</a>
</div>

</body>
</html>